<div class="circle"> </div>
<div class="text-content">
    <h3>¡Comencemos!</h3>
    <p>Ingresa tus datos para iniciar juntos este maravilloso viaje.</p>
    <img src="assets/img/Register.png" alt="Register" class="imgRegister">
</div>
<div class="menu-button-container">
    <button class="btn btn-secondary">Regresar</button>
</div>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="form-container">
                <div class="form-header">
                    <h2 class="form-title">Formulario de registro</h2>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Nombre completo</label>
                        <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                            placeholder="full name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                            placeholder="Example@email.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter your password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword2"
                            placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>