@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.circleRegister {
    background-image: linear-gradient(-45deg, #20dbc2, 0%, #c200ff 100%);
    border-radius: 50%;
    height: 125%;
    width: 65%;
    position: fixed;
    top: -354px;
    left: -215px;
    bottom: 20.5%;
    transform: translateY(-50%) rotate(78deg);
}

.text-contentRegister {
    position: absolute;
    top: 94px;
    left: 19%;
    transform: translate(-50%, -50%) rotate(0deg);
    text-align: center;
    color: #fff;
    width: 25%;
    transition: opacity 0.7s ease-out;
}

.text-contentRegister h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-contentRegister p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-menuRegister {
    position: relative;
    top: 156px;
    left: -422px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.button-menuRegister button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-menuRegister button:hover {
    background-color: #fff;
    color: #090ddb;
}

.imgRegister {
    position: absolute;
    top: 135%;
    left: -45%;
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
}

.text-content.clicked .imgRegister {
    opacity: 0;
}

.form-Registercontainer {
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    padding: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 365px;
    height: 510px;
    font-family: 'Kanit', sans-serif;
    left: 5%;
    z-index: 2;
}

.form-Registercontainer .form-header h2 {
    font-size: 24px;
    margin: -10px 0 15px;
    font-family: 'kanit', sans-serif;
    text-align: center;
}

.form-Registercontainer .form-control {
    width: 97%;
    max-width: 300px;
    border: 2px solid #c200ff;
    border-radius: 5px;
    transition: border 0.3s ease;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-Registercontainer .form-control:focus {
    box-shadow: 0 0 5px #c200ff;
}

.form-Registercontainer button {
    width: 97%;
    margin-right: 25px;
    margin-top: 30px;
    border-color: #c200ff;
    background-color: transparent;
    color: #c200ff;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.form-Registercontainer button:hover {
    background-color: #c200ff;
    color: #fff;
    border-color: #c200ff;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}