<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light-border-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../assets/img/grupo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link" href="#">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-box">
                    <h1>Gestión de Empleados</h1>
                    <p>Optimiza tu empresa y simplifica la gestión de empleados con
                        nuestra solución de registro y control.</p>
                    <a type="button" class="btn btn-outline-primary mb-2" routerLink="login"
                        routerLinkActive="activebutton" (click)="signIn()">Iniciar sesion</a>
                    <a type="button" class="btn btn-outline-primary mb-2" routerLink="/register">Registrarse</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/img/home.png" alt="home" class="feature-img">
            </div>
        </div>
    </div>
</div>