.navbar-toggler{
    outline: none !important;
    padding: 0 !important;
}
.navbar-toggler img{
    width: 20px;
}
.navbar-brand img{
    width: 30px;
}
.nav-link{
    color: #c200ff !important;
    font-weight: 600px;
    margin-left: 30px;
}

.wrapper{
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 20px 2px rgba(37, 73,214,018);
}

.feature-box{
    padding: 20px;
}

.feature-box h1{
    margin-top: 20%;
    color: #c200ff;
}

.feature-box p{
    margin: 20px;
    color: #555;
}

.feature-box button{
    margin-right: 25px;
    border-color: #c200ff;
    background-color: transparent;
    color: #c200ff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.feature-box button:hover {
    background-color: #c200ff; 
    color: #fff; 
}
.feature-img{
    width: 100%;
    padding: 10px;
}

