@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.form-container {
    border: 2px solid;
    border-radius: 10px;
    padding: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 60%;
    margin: 100px;
    height: auto;
}

.form-container .form-header h2 {
    font-size: 24px; 
    margin: -10px 0 15px;
}
h2{
    font-family: 'kanit', sans-serif;
    text-align: center;
}

.form-container {
    font-family: 'Kanit', sans-serif;
}

.form-container .form-control {
    width: 97%;
    max-width: 300px;
    border: 2px solid #c200ff;
    border-radius: 5px;
    transition: border 0.3s ease;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-container .form-control:focus {
    box-shadow: 0 0 5px #c200ff;
}

.form-container button {
    width: 97%;
    margin-right: 25px;
    margin-top: 30px;
    border-color: #c200ff;
    background-color: transparent;
    color: #c200ff;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.form-container button:hover {
    background-color: #c200ff;
    color: #fff;
    border-color: #c200ff;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}